th {
text-align: center;
}

td {
  text-align: -webkit-center;
}

@media (max-width: 520px) {
  td {
    font-size: 10px;
  }
  th {
    font-size: 10px;
  }
  tr {
    font-size: 10px;
  }
}

@media (max-width: 415px) {
  td {
    font-size: 8px;
  }
  th {
    font-size: 8px;
  }
  tr {
    font-size: 8px;
  }
}

@media (max-width: 330px) {
  td {
    font-size: 6px;
  }
  th {
    font-size: 6px;
  }
  tr {
    font-size: 6px;
  }
}


