
.panel-container{
  margin-top:3%;
  margin-bottom:5%;
}

.img-title {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  transform: translate(-50%, -50%);
  color : white;
  text-shadow:0 1px 2px black;
}

.img-container {
  position: relative;
  cursor : pointer;
}

.img-container > img{
  box-shadow:  1px 8px 12px 0px silver,
              -1px -2px 12px 0px silver;

}

.img-container:hover {
  opacity: 0.8;
}

.panel-title{
  font-size: 80px;
  color : silver;
  text-shadow:1px 2px 3px black;
}

@media (max-width: 400px) {
  .img-title {
    font-size: 6px;
  }
  .panel-title{
    font-size: 20px;
  }
}

@media (min-width : 401px) and (max-width: 500px) {
  .img-title {
    font-size: 10px;
  }
  .panel-title{
    font-size: 30px;
  }
}

@media (min-width : 501px) and (max-width: 700px) {
  .img-title {
    font-size: 15px;
  }
  .panel-title{
    font-size: 40px;
  }
}

@media (min-width : 701px) and (max-width: 850px) {
  .img-title {
    font-size: 20px;
  }
  .panel-title{
    font-size: 60px;
  }
}

.custom-row{
  text-align: center;
  width:75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.panel-header{
  text-align: center;
}

.logo{
  margin: 0 auto;
}

.logo-img{
  margin: 0 auto;
}



