.header{
  background:#4e5eb3;
}

.title{
  font-size:50px;
  color:white;
  text-align:center;
  text-shadow:1px 1px 1px black;
  margin-top:2%;
  margin-bottom:2%;
}

.sidebar-nav{
  list-style-type: none;
  text-align:left;
  background:#4e5eb3;
  margin-bottom:0px;
}

.content{
  margin-top:3%;
  margin-left:3%;
  box-shadow:  1px 8px 12px 0px silver,
  -1px -2px 12px 0px silver;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height:50px;
  border-bottom:1px solid white;
  margin-left: -40px;
  color:#337ab7;
  background: linear-gradient(#162f6d,#4e5eb3);
  cursor:pointer;
}

.sidebar-nav li:hover {
  text-decoration: none;
  color:white;
  background: linear-gradient(#13368c,#6573bf);
}