<div class="widgets">
    <div class="row">
        <div class="col-md-12" ba-panel>
            <button type="button" class="btn btn-primary" ng-click="addNewRoom()">Add New Room</button>
            <table class="table table-hover" st-table="listOfRooms" st-safe-src="roomCollection">
                <thead>
                    <tr>
                        <th colspan="3">
                            <input type="text" class="form-control" placeholder="Search" st-search="">
                        </th>
                    </tr>
                    <tr>
                        <th st-sort="number" class="sortable-column">Room number</th>
                        <th st-sort="number" class="sortable-column">Floor number</th>
                        <th>Room type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="room in listOfRooms">
                        <td>{{room.number}}</td>
                        <td>{{room.floorNumber}}</td>
                        <td>{{room.roomType.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>