<section class="section-padding">
</section>
<div class="row">
    <div class="col-lg-12" id="googleMap"></div>
</div>
<div class="row form-container">
    <div class="col-lg-6">
        <form>
            <div class=form-check">
                <label class="radio-inline">
                    <input class="form-check-input" type="radio" ng-model="keyword" value="food">Food
                </label>
            </div>
            <div class="form-check">
                <label class="radio-inline">
                    <input class="form-check-input" type="radio" ng-model="keyword" value="banks">Bank,ATM
                </label>
            </div>
            <div class="form-check">
                <label class="radio-inline">
                    <input class="form-check-input" type="radio" ng-model="keyword" value="coffee">Coffee
                </label>
            </div>
            <div class="form-check">
                <label class="radio-inline">
                    <input class="form-check-input" type="radio" ng-model="keyword" value="shopping">Shopping
                </label>
            </div>
            <div class="form-check">
                <label class="radio-inline">
                    <input class="form-check-input" type="radio" ng-model="keyword" value="health">Health
                </label>
            </div>
            <div>
                <button type="button" class="btn btn-primary" ng-click="getPlaces()">SEARCH</button>
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <p>Nearby :</p>
        <p>Hotel Integra</p>
        <p>Here will be auto complete searcher</p>
    </div>
</div>
<div class="row nearby-places-container">
    <div class="col-md-3 item-container" ng-repeat="item in places">
        <div>
            <h5>Name : {{item.name}}</h5>
            <h5>Address : {{item.vicinity}}</h5>
            <h5>Open Now : {{item.openingHours.openNow ? 'YES' : 'NO'}}</h5>
            <h5>Type : {{item.types[0]}}, {{item.types[1]}}</h5>
            <h5 class="clickable" ng-click="setMap(item.geometry.location.lat,item.geometry.location.lng,item.name)">Show
                Place On Map</h5>
            <h5 class="clickable" ng-click="getImage(item.photos[0])">See Image</h5>
        </div>
    </div>
</div>
