<div class="widgets">
    <div class="container-fluid">
        <form id="facility-form" name="hotelFacility" ng-submit="submit(hotelFacility)" autocomplete="off" novalidate>

            <div class="row">
                <div class="col-md-12">
                    <div id="facility" class="col-md-6" ba-panel ba-panel-title="Facility">
                        <div class="facility-form">
                            <div class="form-group"
                                 ng-class="{'has-error' : hotelFacility.facilityName.$invalid && hotelFacility.$submitted, 'has-success' : hotelFacility.facilityName.$valid && hotelFacility.$submitted}">
                                <label for="facility-name">Facility name</label>
                                <input class="form-control has-success text-danger" id="facility-name" type="text"
                                       name="facilityName" ng-model="facility.facilityName" required ng-maxlength="80" unique-name>
                                <div ng-show="hotelFacility.$submitted">
                                    <label class="help-block error-block basic-block"
                                           ng-show="hotelFacility.facilityName.$error.required">Please enter name of the
                                        facility</label>
                                    <label class="help-block error-block basic-block"
                                           ng-show="hotelFacility.facilityName.$error.maxlength">Facility name is too long,
                                        80 characters allowed</label>
                                    <label class="help-block error-block basic-block"
                                           ng-show="hotelFacility.facilityName.$error.uniqueName">Name already exists !</label>
                                </div>
                            </div>

                            <div id="description" class="form-group"
                                 ng-class="{'has-error' : hotelFacility.facilityDescription.$invalid && hotelFacility.$submitted, 'has-success' : hotelFacility.facilityDescription.$valid && hotelFacility.$submitted}">
                                <label for="description">Description</label>
                                <textarea class="form-control" name="facilityDescription"
                                          ng-model="facility.description"
                                          required ng-maxlength="400"></textarea>
                                <div ng-show="hotelFacility.$submitted">
                                    <label class="help-block error-block basic-block"
                                           ng-show="hotelFacility.facilityDescription.$error.required">Please add
                                        facility
                                        description</label>
                                    <label class="help-block error-block basic-block"
                                           ng-show="hotelFacility.facilityDescription.$error.maxlength">Description is
                                        too
                                        long, 400 characters allowed</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group"
                                         ng-class="{'has-error' : hotelFacility.floors.$invalid && hotelFacility.$submitted, 'has-success' : hotelFacility.floors.$valid && hotelFacility.$submitted}">
                                        <label for="floor">Floor</label>
                                        <select class="form-control" id="floor" ng-model="facility.floor"
                                                ng-options="item as item for item in floors" name="floors"
                                                required></select>
                                        <div ng-show="hotelFacility.$submitted">
                                            <label class="help-block error-block basic-block"
                                                   ng-show="hotelFacility.floors.$error.required">Please add
                                                floor</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group"
                                         ng-class="{'has-error' : hotelFacility.facilityType.$invalid && hotelFacility.$submitted, 'has-success' : hotelFacility.facilityType.$valid && hotelFacility.$submitted}">
                                        <label for="type">Type</label>
                                        <select class="form-control" id="type" ng-model="facility.facilityType"
                                                ng-options="type as type.facilityType for type in facilityTypes track by type.id"
                                                name="facilityType" required></select>
                                        <div ng-show="hotelFacility.$submitted">
                                            <label class="help-block error-block basic-block"
                                                   ng-show="hotelFacility.facilityType.$error.required">Please add
                                                facility
                                                type</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="image" class="col-md-6" ba-panel ba-panel-title="Image">
                        <div class="form-group"
                             ng-class="{'has-error' : isImageMissing() && hotelFacility.$submitted, 'has-success' : !isImageMissing() && hotelFacility.$submitted}">
                            <img ng-click="openImageCrop()" class="img-center" ng-src="{{imageSrc}}" id="facility-image">
                            <div class="centerText" ng-show="hotelFacility.$submitted">
                                <label class="help-block error-block basic-block" ng-show="isImageMissing()">Please add
                                    the image</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-12">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="hotelFacility.$invalid && hotelFacility.$submitted"
                                    ng-attr-title="{{hotelFacility.$invalid && hotelFacility.$submitted ? 'Invalid input(s) found' : ''}}">Save</button>
                            <button type="button" class="btn btn-primary btn-lg" ng-click="handleCancelButton()">Cancel</button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>