<section class="section-padding">
</section>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padleft-right btn" ng-click="" ng-repeat="item in floors">
        <figure class="imghvr-fold-up">
            <img ng-src="assets/img/directory.jpg" class="img-responsive"/>
            <figcaption class="floor-data-container">
                <div class="col-lg-12">
                    <p class="floor-data-title">Facility Name:</p>
                    <p class="floor-data" ng-repeat="facility in item.facilities" ng-click="getFacilityData(facility)">{{facility.facilityName}}{{$last ? '' : ', '}}</p>
                    <p ng-show="!item.facilities.length">No facility on this floor</p>
                    <p class="floor-data-title">Rooms :</p>
                    <p class="floor-data" ng-repeat="room in item.rooms" ng-click="getRoomData(room)">Number {{room.number}}{{$last ? '' : ', '}}</p>
                    <p ng-show="!item.rooms.length">No room on this floor</p>
                </div>
            </figcaption>
        </figure>
        <div>Floor number : {{item.number}}</div>
    </div>
</div>