<div class="directory-container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 directory-title">DIRECTORY</div>
    </div>
    <table class="table table-responsive table-bordered table-hover">
        <tr>
            <td><label>Floor Number</label></td>
            <td><label>Rooms Number</label></td>
            <td><label>Facilities</label></td>

        </tr>
        <tr ng-repeat="item in floors">
            <td>{{item.number}}</td>
            <td>{{item.rooms}}</td>
            <td>{{item.facilities}}</td>
        </tr>
    </table>
    <div class="row">
        <div class="form-group col-md-12">
            <div class="pull-right button-container">
                <button type="button" class="btn btn-default btn-responsive" ui-sref="home">BACK</button>
            </div>
        </div>
    </div>
</div>