<div class="row header">
    <div class="col-md-12 col-cm-12 col-xs-12 col-lg-12 title">
        PAGE TITLE
    </div>
</div>
<div class="row">
    <div class="sidebar-container col-xs-2  col-md-2  col-sm-2">
        <ul class="sidebar-nav" equals-height>
            <li>HOME</li>
            <li>DIRECTORY</li>
            <li>DIRECTIONS</li>
            <li>FACILITIES</li>
            <li>NEAR BY</li>
            <li>ROOM INFO</li>
            <li>HOTEL INFO</li>
            <li>GUEST COMMENTS</li>
            <li>RECEPTION</li>
            <li>WEATHER</li>
        </ul>
    </div>
    <div class="col-sm-9 col-md-9 col-xs-9 content">
        Ovaj div bi sluzio za glavni sadrzaj tiketa <br>
        Sidebar ce imati linkove za sve ostale stranice tako da nam nece trebati Back button <br>
        Page title ce biti zamijenjeno sa pravim imenom stranice <br>
        Sto se tice stajlinga, mozemo nesta promijeniti npr. boju, font-family i sl. <br>
        Ako imate neku ideju, napravite promjenu pa pusajte <br>
        Sto se tice pozicioniranja elemenata, trudio sam se da bude slicno kao i dashboard <br>
    </div>
</div>
