<div class="modal-container">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <h4 class="modals-titles">Facility Details :</h4>
                <div class="col-lg-4">
                    <div><img id="fid" src={{facility.image}} equals-height class="img-responsive"></div>
                </div>
                <div class="col-lg-8 equals-height-measure">
                    <p>Name : {{facility.facilityName}}</p>
                    <p>Description : {{facility.description}}</p>
                    <p>Floor Number : {{facility.floor}}</p>
                    <p>Facility Type : {{facility.facilityType.facilityType}}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer text-center ">
            <button type="button" class="btn btn-primary btn-responsive" ng-click="$dismiss()">Cancel</button>
        </div>
    </div>
</div>


