
img.img-facility {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 73%;
  height: 235px;
}

.centerText {
  text-align: center;
}

#facility textarea {
  resize: none;
  height: 75px;
}