
img.img-facility {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 73%;
  height: auto;
}

.centerText {
  text-align: center;
}
.list
{
  display: flex;
}
.list__item
{
  display: flex;
}