
div.stars {
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 10px;
  font-size: 100%;
  color: #D3D3D3;
}

label.star {
  float: right;
  padding: 10px;
  font-size: 3em;
  color: #D3D3D3;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #000000;
}

label.star:before {
  content: '\f005';
  font-family: FontAwesome;

}

.center {
  text-align: center;

}