
div.stars {
  display: inline-block;
  line-height: normal;
  alignment: center;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding-left: 10px;
  font-size: 36px;
  color: #D3D3D3;

}

@media screen
and (max-width: 400px) {
  label.star {
    font-size: 20px;
  }
}

@media screen
and (max-width: 991px) {
  .alignment-stars {
    text-align: left !important;
  }
  .rating {
    padding-left: 12px !important;
  }
}

@media screen
  and (max-height:400px ) {

}


input.star:checked ~ label.star:before {
  content: '\f005';
  color: #ffe80a;
}

label.star:before {
  content: '\f005';
  font-family: FontAwesome;
}

label.star:hover {
  cursor: pointer;
}

.alignment-stars {
  text-align: center;
  padding-left: 0;
}

#description textarea {
  resize: none;
  height: 127px ;
}

#logo-image {
  display: inline;
  margin: 0 auto;
  cursor: pointer;
  width: 230px;
  height: 50px;
}

label[for=hotel-logo] {
  display: block;
  text-align: left;
}

label[for=name] {
  display: block;
  text-align: left;
  padding-bottom: 5px;
}

.rating {
  text-align: center;
  padding-left:0;
}

