
div.stars {
  display: inline-block;
  line-height: normal;
  vertical-align: bottom;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 5px;
  font-size: 36px;
  color: #D3D3D3;
}

@media screen
and (max-width: 500px){
  label.star {
    font-size: 20px;
  }
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #ffe80a;
}

label.star:before {
  content: '\f005';
  font-family: FontAwesome;

}

label.star:hover {
  cursor: pointer;
}

.center {
  text-align: center;
  padding-top: 13px;
}


#description textarea {
  resize: none;
  height: 127px ;
}

#logo-image {
  display: inline;
  margin: 0 auto;
  cursor: pointer;
  width: 280px;
  height: 40px;
  alignment: left;
}

label[for=hotel-logo] {
  display: block;
  text-align: left;
}