#canvas-container {
  width: 100%;
  text-align: center;
}

#room-type-image-canvas {
  display: inline;
  width: 65%;
  height: auto;
}

#room-type-details td, #room-type-details {
  border: 0;
  border-style: none;
}