<div class="panel-container">
    <div class="row">
        <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-8 col-sm-8 col-xs-8 col-lg-8 panel-header">
            <div ui-sref="hotelInfo" class="logo"><img src="" class="logo-img img-responsive img-container"></div>
            <p class="panel-title">Facilities</p><span ng-bind="message" class="panel-title"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-4 col-sm-4 col-md-4 img-container"
                 ng-repeat="facility in listOfFacilities | orderBy: 'floor'">
                <img ng-click="getSelected()" ng-src="{{facility.image}}" class="img-responsive"/>
                <div ng-click="getMoreDetails(facility.facilityName)">
                    <p class="img-title">{{facility.facilityName}}</p><br/>
                </div>
                <div ng-show="selected">
                    <div>
                        <p>Facility type: {{facility.facilityType.facilityType}}</p>
                    </div>
                    <div>
                        <p>Floor: {{facility.floor}}</p>
                    </div>
                </div>
            </div>
        </div>
            <div ng-show="selectedFacilityName" ng-repeat="facility in listOfFacilities | filter : {facilityName : selectedFacilityName}">
                <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-8 col-sm-8 col-xs-8 col-lg-8">
                    <h3>Name: {{facility.facilityName}}</h3>
                    <h3>Description: {{facility.description}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <div class="pull-right">
                <button type="button" class="column-resize-line" ui-sref="home">BACK</button>
            </div>
        </div>
    </div>
</div>
