<div class="modal-container">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <h4 class="modals-titles">{{facility.facilityName}}</h4>
                <div class="col-lg-8 equals-height-measure">
                    <p>Facility Type : {{facility.facilityType.facilityType}}</p>
                    <p>Floor Number : {{facility.floor}}</p>
                    <p>Description : {{facility.description}}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-responsive" ng-click="$dismiss()">Cancel</button>
        </div>
    </div>
</div>
