<section id ="courses" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <div class="logo"><img src="" class="logo-img img-responsive"></div>
                <h2>{{hotel.name}}</h2>
                <hr class="bottom-line">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 padleft-right" ui-sref="directions">
                <figure class="imghvr-fold-up">
                    <img src="assets/img/placeholder.png" class="img-responsive">
                    <figcaption>
                        <h3>Directions</h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 padleft-right" ui-sref="hotelInfo">
                <figure class="imghvr-fold-up">
                    <img src="assets/img/placeholder.png" class="img-responsive">
                    <figcaption>
                        <h3>Hotel info</h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 padleft-right" ui-sref="facilities">
                <figure class="imghvr-fold-up">
                    <img src="assets/img/placeholder.png" class="img-responsive">
                    <figcaption>
                        <h3>Facilities</h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 padleft-right" ui-sref="roomInfo">
                <figure class="imghvr-fold-up">
                    <img src="assets/img/placeholder.png" class="img-responsive">
                    <figcaption>
                        <h3>Room info</h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 padleft-right" ui-sref="reception">
                <figure class="imghvr-fold-up">
                    <img src="assets/img/placeholder.png" class="img-responsive">
                    <figcaption>
                        <h3>Reception</h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 padleft-right" ui-sref="guestComments">
                <figure class="imghvr-fold-up">
                    <img src="assets/img/placeholder.png" class="img-responsive">
                    <figcaption>
                        <h3>Guest comments</h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 padleft-right" ui-sref="weather">
                <figure class="imghvr-fold-up">
                    <img src="assets/img/placeholder.png" class="img-responsive">
                    <figcaption>
                        <h3>Weather</h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 padleft-right" ui-sref="nearBy">
                <figure class="imghvr-fold-up">
                    <img src="assets/img/placeholder.png" class="img-responsive">
                    <figcaption>
                        <h3>Near by</h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 padleft-right" ui-sref="directory">
                <figure class="imghvr-fold-up">
                    <img src="assets/img/placeholder.png" class="img-responsive">
                    <figcaption>
                        <h3>Directory</h3>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
