<div class="panel-container">
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-md-3 col-sm-4 col-xs-3 panel-header">
            <p class="panel-title">{{hotelName}}</p>
            <div class="logo"><img src="" alt="Hotel Logo"></div>
        </div>
    </div>
    <div class="row">
        <div ui-sref="directions" class="col-xs-3 col-sm-3 col-md-3 img-container">
            <img src="assets/img/placeholder.png" class="img-responsive img-thumbnail">
            <div>
                <p class="img-title">Directions</p>
            </div>
        </div>
        <div ui-sref="hotelInfo" class="col-xs-3 col-sm-3 col-md-3 img-container">
            <img src="assets/img/placeholder.png" width="100%" height="200" class="img-responsive img-thumbnail">
            <div>
                <p class="img-title">Hotel Info</p>
            </div>
        </div>
        <div ui-sref="facilities" class="col-xs-3 col-sm-3 col-md-3 img-container">
            <img src="assets/img/placeholder.png" width="100%" height="200" class="img-responsive img-thumbnail">
            <div>
                <p class="img-title">Facilities</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div ui-sref="roomInfo" class="col-xs-3 col-sm-3 col-md-3 img-container">
            <img src="assets/img/placeholder.png" width="100%" height="200" class="img-responsive img-thumbnail">
            <div>
                <p class="img-title">Room Info</p>
            </div>
        </div>
        <div ui-sref="reception" class="col-xs-3 col-sm-3 col-md-3 img-container">
            <img src="assets/img/placeholder.png" width="100%" height="200" class="img-responsive img-thumbnail">
            <div>
                <p class="img-title">Reception</p>
            </div>
        </div>
        <div ui-sref="guestComments" class="col-xs-3 col-sm-3 col-md-3 img-container">
            <img src="assets/img/placeholder.png" width="100%" height="200" class="img-responsive img-thumbnail">
            <div>
                <p class="img-title">Guest Comments</p>
            </div>
        </div>
    </div>
    <div class="row img-panel">
        <div ui-sref="weather" class="col-xs-3 col-sm-3 col-md-3 img-container">
            <img src="assets/img/placeholder.png" width="100%" height="200" class="img-responsive img-thumbnail">
            <div>
                <p class="img-title">Weather</p>
            </div>
        </div>
        <div ui-sref="nearBy" class="col-xs-3 col-sm-3 col-md-3 img-container">
            <img src="assets/img/placeholder.png" width="100%" height="200" class="img-responsive img-thumbnail">
            <div>
                <p class="img-title">Near By</p>
            </div>
        </div>
        <div ui-sref="directory" class="col-xs-3 col-sm-3 col-md-3 img-container">
            <img src="assets/img/placeholder.png" width="100%" height="200" class="img-responsive img-thumbnail">
            <div>
                <p class="img-title">Directory</p>
            </div>
        </div>
    </div>
</div>