<div class="panel-container">
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-md-6 col-sm-6 col-xs-6 panel-header">
            <div class="logo"><img src="" class="logo-img"></div>
            <p class="panel-title">{{hotel.name}}</p>
        </div>
    </div>
    <div class="row">
        <div ui-sref="directions" class="col-xs-4 col-sm-4 col-md-4 img-container">
            <img src="assets/img/placeholder.png" class="img-responsive">
            <div>
                <p class="img-title">Directions</p>
            </div>
        </div>
        <div ui-sref="hotelInfo" class="col-xs-4 col-sm-4 col-md-4 img-container">
            <img src="assets/img/placeholder.png" class="img-responsive">
            <div>
                <p class="img-title">Hotel Info</p>
            </div>
        </div>
        <div ui-sref="facilities" class="col-xs-4 col-sm-4 col-md-4 img-container">
            <img src="assets/img/placeholder.png" class="img-responsive">
            <div>
                <p class="img-title">Facilities</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div ui-sref="roomInfo" class="col-xs-4 col-sm-4 col-md-4 img-container">
            <img src="assets/img/placeholder.png" class="img-responsive">
            <div>
                <p class="img-title">Room Info</p>
            </div>
        </div>
        <div ui-sref="reception" class="col-xs-4 col-sm-4 col-md-4 img-container">
            <img src="assets/img/placeholder.png" class="img-responsive">
            <div>
                <p class="img-title">Reception</p>
            </div>
        </div>
        <div ui-sref="guestComments" class="col-xs-4 col-sm-4 col-md-4 img-container">
            <img src="assets/img/placeholder.png" class="img-responsive">
            <div>
                <p class="img-title">Guest Comments</p>
            </div>
        </div>
    </div>
    <div class="row img-panel">
        <div ui-sref="weather" class="col-xs-4 col-sm-4 col-md-4 img-container">
            <img src="assets/img/placeholder.png" class="img-responsive">
            <div>
                <p class="img-title">Weather</p>
            </div>
        </div>
        <div ui-sref="nearBy" class="col-xs-4 col-sm-4 col-md-4 img-container">
            <img src="assets/img/placeholder.png" class="img-responsive">
            <div>
                <p class="img-title">Near By</p>
            </div>
        </div>
        <div ui-sref="directory" class="col-xs-4 col-sm-4 col-md-4 img-container">
            <img src="assets/img/placeholder.png" class="img-responsive">
            <div>
                <p class="img-title">Directory</p>
            </div>
        </div>
    </div>
</div>