<section class="section-padding" ng-cloak>

<div class="row">
<div class="container">
<div class="panel-container"></div>
    <div class="col-md-4 col-sm-6 padleft-right">
        <div class="col-md-8 col-sm-6">
            <h4>Guest information</h4>
            <p>Name: <strong>{{roomCheckIn.name}}</strong></p>
            <p>Last name:  <strong>{{roomCheckIn.lastName}}</strong></p>
            <p>E-mail:  <strong>{{roomCheckIn.email}}</strong></p>
            <p>Adults:  <strong>{{roomCheckIn.numberOfAdults}}</strong>   Kids:  <strong>{{roomCheckIn.numberOfKids}}</strong> </p>
            <p>Check in date:  <strong>{{roomCheckIn.checkIn | date:'dd.MM.yyyy'}}</strong></p>
            <p>Check out date:  <strong>{{roomCheckIn.checkOut | date:'dd.MM.yyyy'}}</strong></p>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 padleft-right">
        <!--<div class="col-lg-4">-->
            <!--<div><img src={{roomCheckIn.room.roomType.image}} class="img-responsive"></div>-->
        <!--</div>-->
        <div class="col-md-8 col-sm-6">
            <h4>Room information</h4>
            <p>Room number: <strong>{{roomCheckIn.room.number}}</strong></p>
            <p>Floor number:  <strong>{{roomCheckIn.room.floorNumber}}</strong></p>
            <p>Room type:  <strong>{{roomCheckIn.room.name}}</strong></p>
            <p>Room size:  <strong>{{roomCheckIn.room.roomType.size}} m3</strong></p>
            <p>Bed type:  <strong>{{roomCheckIn.room.roomType.bedType.type}}</strong></p>
            <p>Features:  <strong ng-repeat="features in roomCheckIn.room.roomType.features">{{features.name}}, </strong></p>
        </div>
    </div>
    <!--<button type="button"><a ui-sref="home">Back</a></button>-->
</div>
</div>
</section>