<section class="section-padding" ng-cloak>
</section>
<div class="panel-container">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Room information </h4></div>
            <div class="panel-body">
                <div class="col-lg-6 text-left">

                    <div class="col-md-4"> Room number: {{roomCheckIn.room.number}}</div>
                    <div class="col-md-4 strong">Floor number: {{roomCheckIn.room.floorNumber}}</div>




                    <table class="table table-responsive">
                        <thead>

                        <tr>
                            <th>Name:</th>
                            <th>{{roomCheckIn.room.roomType.name}}</th>
                        </tr>
                        <tr>
                            <th>Size:</th>
                            <th>{{roomCheckIn.room.roomType.size}} m3</th>
                        </tr>
                        <tr>
                            <th>Bed:</th>
                            <th>{{roomCheckIn.room.roomType.bedType.type}}</th>
                        </tr>
                        <tr>
                            <th>Features:</th>
                            <th ng-repeat="features in roomCheckIn.room.roomType.features">
                                {{features.name}}
                            </th>
                        </tr>


                        <div>
                            <div ng-show="air">
                                <img src="/assets/img/air.png" height="30"/></div>
                        </div>

                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <button type="button"><a ui-sref="home">Back</a></button>
</div>

